@model DAL.Utilisateur

@{
    ViewBag.Title = "LoginForm";
}

<form method="post" action="/Login/LoginForm">
    <p>Login: <input type="text" name="txtLogin" /></p>
    <p>Password: <input type="text" name="txtPass" /></p>
    <button>Go</button>
</form>

